.header {
  height: 100px;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.sidebar > a {
  margin: 0.5rem 0;
  margin-right: 30px;
}
.sidebar {
  display: flex;
  align-items: center;
 
}
.statusBarImg{
  width: 230px;
}
.headerBox{
  display: flex;
  width: 1024px;
  margin: auto;
  justify-content: space-between;
}
.logo{
  margin-right: auto;
  width: 240px;
}
/* 일단 화면 중앙이 안맞는다 */
/* 프로필 헤드 폰트어썸 다시 받아오기 */
/* 위에 상단 바 옆으로 붙이기 */
/* dev 브랜치 */
