
.header {
  margin-bottom: 30px;
}

.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  max-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    justify-content: space-between;

}

.nav > span {
  width: 60px;
  cursor: pointer;
  color: #222;
  
  align-items: center;
  text-align: center;
}

.nav > span:hover,
.nav > span:hover > a {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
}

.statusBarImg {
  width: 230px;
}

@media only screen and (max-width: 610px) {
  .logo {
    margin-bottom: 30px;
  }
  .headerBox {
    flex-direction: column;
    align-items: center;
  }
}