#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mypageBox {
  width: 540px;
  border: 1px solid rgb(208, 206, 206);
  border-radius: 15px;
  padding: 30px;
  margin: 0 auto;
}

.totalUserInfo {
  display: flex;
  width: 540px;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid rgb(230, 228, 228);
  padding-bottom: 35px;
  width: 450px;
}
#profileView {
  width: 80px;
  height: 80px;
  background-size: contain;
  cursor: pointer;
  border-radius: 15px;
}

.userInfo {
  padding: 10px;
}

.userName {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

.btns {
  margin: 10px 0 0 20px;
}

.imgChangeBtn {
  background: #ffffff;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 10px;
  color: gray;
}

.imgChangeBtn:hover {
  font-weight: bold;
  border: 1px solid#571DF7;
  color: #571df7;
}

.UserDeleteBtn {
  background: #ffffff;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 10px;
  color: gray;
}

.UserDeleteBtn:hover {
  font-weight: bold;
  border: 1px solid#571DF7;
  color: #571df7;
}

h4 {
  margin-bottom: 20px;
}

#nickName > p {
  margin: 7px 0;
  color: rgb(147, 147, 147);
}

.nickNameInput {
  height: 30px;
  width: 390px;
  border: none;
  border-bottom: 1px solid #ddd;

  font-weight: bold;
}

.nickNameInput:focus {
  outline: none;
}

.nickNameChangeBtn {
  background: #ffffff;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 10px;
  color: gray;
  margin-left: 20px;
}

.nickNameChangeBtn:hover {
  font-weight: bold;
  border: 1px solid #571df7;
  color: #571df7;
}

#password > p {
  margin: 10px 0 6px 0;
  color: rgb(147, 147, 147);
}
.passwordInput {
  width: 390px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

.passwordInput:focus {
  outline: none;
}

.passwordChangeBtn {
  background: #ffffff;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 10px;
  color: gray;
  margin-left: 20px;
}

.passwordChangeBtn:hover {
  font-weight: bold;
  border: 1px solid #571df7;
  color: #571df7;
}

#mypostList {
  font-size: 1.3rem;
  margin-top: 60px;
  margin-bottom: 80px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.boardReviews {
  margin: 20px 0 30px 0;
}

#imgInput {
  display: none;
}
