.box {
  padding: 20px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-top: 30px;
}
.reviewHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.reviewHeadProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.reviewHeadProfileNameN {
  color: black;
}
.reviewHeadProfile img {
  width: 40px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 20px;
}
.reviewComment {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 70px;
  line-height: 1.5;
}
.reviewHeadProfileEmoticon {
  margin-top: 5px;
}
.reviewHeadProfileEmoticon:hover {
  background-color: #571df8;
  border-radius: 25px;
}
.box {
  padding: 20px 140px;
  display: flex;
  justify-content: center;
}
.reviewVideo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.reviewVideoImg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewVideo img {
  width: 200px;
  margin-left: 20px;
}
.commentHead {
  display: flex;
  margin-top: 20px;
}
.commentEmoticon {
  padding-top: 10px;
  width: 30px;
}
.commentBox {
  width: 90%;
  padding-left: 20px;
  border-radius: 16px;
  border: none;
  background-color: #f4f5f7;
  max-height: 500px;
  resize: none;
  outline: none;
}
.commentButton {
  background-color: #571df8;
  border-radius: 15px;
  color: white;
  width: 100px;
  height: 50px;
  margin-left: 5px;
}
.commedButton:hover {
  color: black;
}

.deleteBtn,
.editBtn {
  background-color: #571df8;
  border-radius: 15px;
  color: white;
  width: 75px;
  height: 40px;
  float: right;
  margin-left: 5px;
}

.commentLineBox {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0;
}

.commentLine {
  position: absolute;
  top: 10px;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 10px;
}
.commentLineTitle {
  display: flex;
  justify-content: center;
  color: gray;
  z-index: 10;
  background-color: white;
  width: 100px;
  border: 1px solid gray;
  border-radius: 20px;
}
.reviewList {
  /* background-color: #f4f5f7; */
  background-color: transparent;
  height: 500px;
  border-radius: 15px;
  margin: 10px;
}
.card {
  border: 1px solid red;
  width: 700px;
  margin: 15px auto;
  border-radius: 15px;
  background-color: #f5f5f7;
}
.card-body {
  border: 1px solid forestgreen;
  display: flex;
  align-items: center;
}
#cardHeader {
  border: 1px blue solid;
  color: #38393d;
}
.cardEmoticon {
  display: block;
  width: 40px;
  border: 1px solid #571df8;
  border-radius: 20px;
}
.card-text {
  margin-top: 10px;
  margin-left: 50px;
  background-color: #f4f5f7;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
.reviewListComment {
  margin-bottom: 20px;
}
.reviewListBox {
  display: flex;
  align-items: center;
  width: 90%;
}
.reviewListBoxNameDate {
  padding-left: 10px;
}
.reviewListBoxDate {
  font-size: 13px;
  color: #aeb4b7;
}
.fa-regular:hover {
  color: #571df7;
  cursor: pointer;
}
